.tdb__button__base{
	border-color: transparent;
	color: white;
	padding: 12px 30px;
    border-radius: 3px;
    margin:0px;
    white-space: normal;
    font-size: inherit;
    letter-spacing: .88px;
    background-color: #808080;

    &--green{
		background-color: rgb(0, 192, 139);
	}

	&--red{
		/*background-color: rgb(0, 192, 139);*/
	}
	/*
	review when remove bootstrap
	*/
	&:hover{
	  opacity: 0.8;
	  outline: 0px !important;;
	  box-shadow:0 0 0 0!important;
	}

	&:focus{
	  outline: 0px !important;;
	  box-shadow:0 0 0 0!important;
	}

	&:active{
	  outline: 0px !important;
	  box-shadow:0 0 0 0!important;
	}
}





