/node_modules
.npmrc

package-lock.json
console/.env
.env
.ENV
es6

console/dist
console/public_pages

cypress/integration/examples
cypress/screenshots
cypress/videos

src/components/History/TimeTraveler.js
src/css/img/
src/css/timeTravel.css

