language: node_js
sudo: required
node_js:
  - lts/*
cache:
  npm: false

stages:
  - name: build
  - name: deploy_dev
    if: branch = dev
  - name: deploy_canary
    if: branch = canary
  - name: deploy_rc
    if: branch = rc

before_install:
  - if [ "$TRAVIS_BRANCH" != "dev" ]; then mv console/env-production console/.env; else mv console/env-development console/.env; fi
  # Include bintray if branch is dev, canary or rc
  - if echo "dev canary rc" | grep "$TRAVIS_BRANCH"; then echo "@terminusdb:registry=https://api.bintray.com/npm/terminusdb/npm-$TRAVIS_BRANCH" > $TRAVIS_BUILD_DIR/.npmrc; fi

jobs:
  include:
    - stage: build
      script:
        - npm run build

    - stage: deploy_dev
      script:
        - npm run build
        - bash .ci/publish_dev.sh

    - stage: deploy_canary
      script:
        - npm run build
        - bash .ci/trigger_canary.sh
        - bash .ci/publish_canary.sh

    - stage: deploy_rc
      script:
        - npm run build
        - bash .ci/publish_rc.sh

deploy:
  - provider: npm
    registry: "https://registry.npmjs.org/"
    skip_cleanup: true
    access: public
    email: "robin@datachemist.com"
    api_key: $NPM_TOKEN
    keep_history: true
    auth_method: "authToken"
    on:
      branch: master
      tags: true

