html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal
}

ul {
	list-style: none
}

button,
input,
select,
textarea {
	margin: 0
}

html,
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit
}

img,
embed,
iframe,
object,
audio,
video {
	height: auto;
	max-width: 100%
}

iframe {
	border: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0;
	text-align: left
}

.reveal-on-enter {
	opacity: 0
}

button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font: inherit;
	cursor: pointer;
	overflow: visible;
	border: none;
	border-radius: 25px
}

button,
button:hover,
button:active,
button:focus {
	text-decoration: none;
	border: none
}

button:focus,
button:active {
	background-color: inherit;
	color: inherit
}

button::-moz-focus-inner {
	border: 0;
	padding: 0
}

fieldset {
	margin-bottom: 10px
}

label {
	font-family: "Poppins", Arial, sans-serif;
	display: block
}

input[type="radio"] {
	vertical-align: text-bottom
}

input[type="checkbox"] {
	vertical-align: bottom;
	*vertical-align: baseline
}

input[type="submit"] {
	cursor: pointer
}

input[type="submit"]::-moz-focus-inner {
	border: 0;
	padding: 0
}

select {
	border: none;
	border-radius: 0;
	-moz-appearance: none;
	-webkit-appearance: none
}

select::-ms-expand {
	display: none
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000000
}
select.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"],
textarea
 {
	-webkit-transition: background 0.22s ease-out, border 0.22s ease-out, color 0.22s ease-out;
	-o-transition: background 0.22s ease-out, border 0.22s ease-out, color 0.22s ease-out;
	transition: background 0.22s ease-out, border 0.22s ease-out, color 0.22s ease-out;
	background: #fff;
	padding: 0 15px;
	line-height: 40px;
	height: 40px;
	font-size: 14px;
	border: 1px solid #333;
	width: 100%;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #002855;
	color: #333
}

input[type="text"].error,
input[type="password"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="date"].error,
input[type="month"].error,
input[type="time"].error,
input[type="week"].error,
input[type="number"].error,
input[type="email"].error,
input[type="url"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="color"].error,
input[type="file"].error,
textarea.error,
select.error {
	border: 1px solid #333;
	color: #333
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="color"]:disabled,
input[type="file"]:disabled,
textarea:disabled,
select:disabled {
	border: 1px solid #8093AA;
	color: #8093AA;
	pointer-events: none
}

input[type="text"]:disabled:focus,
input[type="password"]:disabled:focus,
input[type="datetime"]:disabled:focus,
input[type="datetime-local"]:disabled:focus,
input[type="date"]:disabled:focus,
input[type="month"]:disabled:focus,
input[type="time"]:disabled:focus,
input[type="week"]:disabled:focus,
input[type="number"]:disabled:focus,
input[type="email"]:disabled:focus,
input[type="url"]:disabled:focus,
input[type="search"]:disabled:focus,
input[type="tel"]:disabled:focus,
input[type="color"]:disabled:focus,
input[type="file"]:disabled:focus,
textarea:disabled:focus,
select:disabled:focus {
	border: 1px solid #8093AA;
	color: #8093AA
}

textarea,
textarea:focus {
	width: 100%;
	padding: 15px;
	min-height: 150px;
	line-height: 1.25;
	overflow: auto
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
	color: #8093AA;
	font-size: 12px
}

html {
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	width: 100vw
}

body {
	position: relative;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	color: #333;
	font-family: "Poppins", Arial, sans-serif;
	font-weight: 400;
	line-height: 1.25;
	background-color: #fff;
	font-size: 14px
}

@media only screen and (min-width: 768px) {
	body {
		font-size: 14px
	}
}

@media only screen and (min-width: 1024px) {
	body {
		font-size: 15px
	}
}

body.sticky-footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch
}

body.sticky-footer main {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1
}

a {
	-webkit-transition: color 0.22s ease-out;
	-o-transition: color 0.22s ease-out;
	transition: color 0.22s ease-out;
	text-decoration: none
}

.h1,
.inner h1,
.h2,
.inner h2,
.h3,
.inner h3,
.h4,
.inner h4,
.h5,
.inner h5,
.h6,
.inner h6 {
	margin-top: 0;
	line-height: 1.25;
	font-family: "Lexend Deca", Arial, sans-serif;
	margin-bottom: 20px;
	font-weight: 700;
	color: #333;
	letter-spacing: 0
}

.h1,
.inner h1 {
	font-size: 36px
}

@media only screen and (min-width: 768px) {
	.h1,
	.inner h1 {
		font-size: 30px
	}
}

@media only screen and (min-width: 1024px) {
	.h1,
	.inner h1 {
		font-size: 48px
	}
}

.h2,
.inner h2 {
	font-size: 23px
}

@media only screen and (min-width: 1024px) {
	.h2,
	.inner h2 {
		font-size: 35px
	}
}

.h3,
.inner h3 {
	font-size: 23px
}

@media only screen and (min-width: 1024px) {
	.h3,
	.inner h3 {
		font-size: 30px
	}
}

.h4,
.inner h4 {
	font-size: 22px
}

@media only screen and (min-width: 1024px) {
	.h4,
	.inner h4 {
		font-size: 28px
	}
}

.h5,
.inner h5 {
	font-size: 20px
}

@media only screen and (min-width: 1024px) {
	.h5,
	.inner h5 {
		font-size: 20px
	}
}

.h6,
.inner h6 {
	font-size: 16px
}

@media only screen and (min-width: 1024px) {
	.h6,
	.inner h6 {
		font-size: 18px
	}
}

.p,
.inner p,
.ul,
.inner ul,
.ol,
.inner ol,
.pre,
.inner pre,
.blockquote,
.inner blockquote {
	margin-bottom: 20px
}

.hr,
.inner hr {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #F9F9F9;
	height: 1px;
	width: 100%;
	margin: 20px 0
}

.strong,
.inner strong {
	font-weight: 700
}

.em,
.inner em {
	font-style: italic
}

.p,
.inner p {
	font-family: "Poppins", Arial, sans-serif;
	line-height: 1.5
}

.caption,
.inner caption {
	font-size: 0.8rem
}

.fifty-fifty {
	width: 100%;
	position: relative;
	z-index: 0
}

@media only screen and (min-width: 1024px) {
	.fifty-fifty {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin: 0 -20px;
		width: -webkit-calc(100% + 40px);
		width: calc(100% + 40px);
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center
	}
	.fifty-fifty--vertically-centered {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center
	}
	.fifty-fifty--stretched {
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch
	}
}

.fifty-fifty__child {
	min-width: 0;
	width: 100%;
	margin: 0 0 20px 0;
	position: relative
}

@media only screen and (min-width: 1024px) {
	.fifty-fifty__child {
		width: 50%;
		margin: 20px
	}
	.fifty-fifty__child:last-of-type {
		margin: 20px
	}
}

.fifty-fifty__child--flex-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}

.fifty-fifty__child--full-height {
	height: 100%
}

.fifty-fifty__child--no-margin {
	margin: 0
}

@media only screen and (min-width: 1024px) {
	.fifty-fifty__child--no-margin {
		margin: 0
	}
	.fifty-fifty__child--no-margin:last-of-type {
		margin: 0
	}
}

.footer {
	display: block;
	background-color: #002855;
	padding: 40px 0 53px
}

@media only screen and (min-width: 768px) {
	.footer {
		padding: 30px 0
	}
}

.footer__brand {
	margin-bottom: 20px
}

@media only screen and (min-width: 768px) {
	.footer__brand {
		margin-bottom: 0;
		margin-bottom: initial
	}
}

.footer__brand:hover .footer__logo {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}

.footer__logo {
	-webkit-transition: 0.22s ease-out;
	-o-transition: 0.22s ease-out;
	transition: 0.22s ease-out;
	max-width: 150px
}

@media only screen and (min-width: 768px) {
	.footer__logo {
		max-width: none;
		max-width: initial
	}
}

.footer__body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

@media only screen and (min-width: 768px) {
	.footer__body {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row
	}
}

.footer__list {
	text-align: center
}

@media only screen and (min-width: 768px) {
	.footer__list {
		text-align: left;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-flex: 0.95;
		-webkit-flex: 0.95;
		-ms-flex: 0.95;
		flex: 0.95
	}
}

@media only screen and (min-width: 1024px) {
	.footer__list {
		-webkit-box-flex: initial;
		-webkit-flex: initial;
		-ms-flex: initial;
		flex: initial;
		width: 51%
	}
}

.footer__link {
	position: relative;
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	letter-spacing: .88px;
	font-family: "Lexend Deca", Arial, sans-serif
}

.footer__link:after {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	display: block;
	content: '';
	bottom: -5px;
	width: 0;
	height: 3px;
	background-color: #00C08B;
	-webkit-transition: 0.22s ease-out;
	-o-transition: 0.22s ease-out;
	transition: 0.22s ease-out
}

.footer__link:hover:after {
	width: 100%
}

.footer__copyright {
	color: #fff;
	font-size: 12px;
	margin-top: 25px
}

@media only screen and (min-width: 768px) {
	.footer__copyright {
		font-size: 15px;
		margin-top: 0;
		margin-top: initial
	}
}

.footer__item {
	display: inline-block
}

@media only screen and (min-width: 768px) {
	.footer__item {
		display: inline;
		display: initial
	}
}

.page-strip {
	width: 100%;
	position: relative;
	padding: 40px 0;
	z-index: 0
}

@media only screen and (min-width: 768px) {
	.page-strip {
		padding: 30px 0
	}
}

.page-strip--reduced-top-padding {
	padding-top: 20px
}

@media only screen and (min-width: 768px) {
	.page-strip--reduced-top-padding {
		padding-top: 10px
	}
}

@media only screen and (max-width: 759px) {
	.page-strip--reduced-top-padding-mobile {
		padding-top: 15px
	}
}

.page-strip--reduced-bottom-padding {
	padding-bottom: 20px
}

@media only screen and (min-width: 768px) {
	.page-strip--reduced-bottom-padding {
		padding-bottom: 40px
	}
}

@media only screen and (max-width: 759px) {
	.page-strip--reduced-bottom-padding-mobile {
		padding-bottom: 10px
	}
}

.page-strip--extended-top-padding {
	padding-top: 50px
}

@media only screen and (min-width: 768px) {
	.page-strip--extended-top-padding {
		padding-top: 80px
	}
}

.page-strip--extended-bottom-padding {
	padding-bottom: 65px
}

@media only screen and (min-width: 768px) {
	.page-strip--extended-bottom-padding {
		padding-bottom: 110px
	}
}

.page-strip--normal-top-padding {
	padding-top: 40px
}

@media only screen and (min-width: 768px) {
	.page-strip--normal-top-padding {
		padding-top: 50px
	}
}

.page-strip--no-bottom-padding {
	padding-bottom: 0
}

@media only screen and (min-width: 768px) {
	.page-strip--no-bottom-padding {
		padding-bottom: 0
	}
}

.page-strip--no-top-padding {
	padding-top: 0
}

@media only screen and (min-width: 768px) {
	.page-strip--no-top-padding {
		padding-top: 0
	}
}

.page-strip--has-section-divide {
	margin-top: 80px
}

.page-strip--primary {
	background-color: #00C08B
}

.page-strip--secondary {
	background-color: #002855
}

.page-strip--light {
	background-color: #F9F9F9
}

.page-strip--with-background {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../img/placeholders/half-background-mobile.png")
}

@media only screen and (min-width: 768px) {
	.page-strip--with-background {
		background-image: url("../img/placeholders/half-background.png")
	}
}

.page-strip--on-top {
	z-index: 2
}

.page-strip__title-container {
	text-align: center
}

.page-strip__title {
	color: #002855
}

.page-strip__title--white {
	color: #fff
}

.page-strip__title--big-margin-bottom {
	margin-bottom: 55px
}

@media only screen and (min-width: 768px) {
	.page-strip__title--big-margin-bottom {
		margin-bottom: 50px
	}
}

.page-strip__title--big-mobile {
	font-size: 35px
}

.page-strip__text {
	color: #002855;
	line-height: 1.86;
	margin-bottom: 30px;
	font-size: 15px
}

.page-strip__text:last-of-type {
	margin-bottom: 40px
}

.page-strip__text--white {
	color: #fff
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1180px;
	padding: 0 15px
}

@media only screen and (min-width: 768px) {
	.wrapper {
		padding: 0 25px;
		overflow: visible
	}
}

@media only screen and (min-width: 1024px) {
	.wrapper {
		padding: 0 30px
	}
}

.wrapper--full-width {
	max-width: none;
	padding: 0
}

.wrapper--relative {
	position: relative
}

.wrapper--increased {
	max-width: 1200px
}

.header {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: none;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	z-index: 3
}

.header:after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	top: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#002855), to(transparent));
	background: -webkit-linear-gradient(#002855 0%, transparent 100%);
	background: -o-linear-gradient(#002855 0%, transparent 100%);
	background: linear-gradient(#002855 0%, transparent 100%);
	height: 100%;
	width: 100%;
	z-index: -1
}



.paging-info {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	max-width: 192px;
	z-index: 1;
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1)
}

.paging-info--has-arrows {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

.paging-info:before {
	position: absolute;
	content: '';
	display: block;
	left: 0;
	text-align: center;
	right: 0;
	height: 20px;
	width: 1px;
	background-color: rgba(142, 142, 149, 0.1);
	margin: 0 auto;
	top: 14px;
	z-index: 2
}

.paging-info__current-slide,
.paging-info__total-slides {
	background: #fff;
	position: relative;
	display: inline-block;
	height: 48px;
	line-height: 48px;
	width: 48px;
	font-size: 1rem
}

.paging-info__current-slide {
	color: #333;
	letter-spacing: 0
}

.paging-info__total-slides {
	color: #333;
	letter-spacing: 0
}

.paging-info__arrow {
	position: relative;
	bottom: 0
}

.slider-cards {
	margin-top: 20px
}

@media only screen and (min-width: 768px) {
	.slider-cards {
		margin-top: 52px
	}
}

@media only screen and (min-width: 1024px) {
	.slider-cards {
		left: -webkit-calc((100% - 1120px) / 2);
		left: calc((100% - 1120px) / 2)
	}
}

.slider-cards .slick-track {
	padding: 10px 0
}

@media only screen and (min-width: 768px) {
	.slider-cards .slick-track {
		padding: 20px 0
	}
}

.slider-cards .slick-slide {
	padding: 0 10px 0
}

.slider-cards__arrows {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

@media only screen and (min-width: 768px) {
	.slider-cards__arrows {
		position: absolute;
		top: 10px;
		right: 0
	}
}

.slider-cards-container {
	overflow: hidden
}

.button,
.large-banner__button,
.menu__button {
	-webkit-transition: background 0.22s ease-out, color 0.22s ease-out, border 0.22s ease-out;
	-o-transition: background 0.22s ease-out, color 0.22s ease-out, border 0.22s ease-out;
	transition: background 0.22s ease-out, color 0.22s ease-out, border 0.22s ease-out;
	height: 50px;
	padding: 20px;
	border: 0;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-width: 168px;
	font-size: 14px;
	border-radius: 25px;
	text-transform: capitalize;
	font-family: "Lexend Deca", Arial, sans-serif
}

.button__icon {
	font-size: 12px
}

.button__icon--large {
	font-size: 24px
}

.button--primary,
.large-banner__button,
.menu__button {
	background-color: #00C08B;
	color: #fff
}

.button--primary:hover,
.large-banner__button:hover,
.menu__button:hover {
	background-color: #00f3b0;
	color:#fff;
	text-decoration: none;
}

.button--secondary {
	background: transparent;
	border: 1px solid #002855;
	color: #002855
}

.button--secondary:hover {
	background: transparent;
	border-color: #004088
}

.button--ghost {
	background: transparent;
	border: 1px solid #fff;
	color: #fff
}

.button--ghost:hover {
	background: #fff;
	color: #333
}

.button--disabled {
	background: #8093AA;
	color: #fff;
	cursor: default
}

.button--square {
	background: #002855;
	color: #fff;
	width: 100px;
	height: 100px;
	font-size: 24px
}

.button--square:hover {
	background: #001022
}

.large-banner {
	position: relative;
	min-height: 500px
}

@media only screen and (min-width: 768px) {
	.large-banner {
		min-height: 400px
	}
}

@media only screen and (min-width: 1024px) {
	.large-banner {
		min-height: 500px
	}
}

@media only screen and (min-width: 1200px) {
	.large-banner {
		min-height: 600px
	}
}

@media only screen and (min-width: 1440px) {
	.large-banner {
		min-height: 700px
	}
}

.large-banner:before,
.large-banner:after {
	content: "";
	display: table
}

.large-banner:after {
	clear: both
}

.large-banner__image {
	display: block;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1
}

.large-banner__image img {
	bottom: -9999px;
	display: block;
	left: -9999px;
	margin: auto;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	right: -9999px;
	top: -9999px
}

.large-banner__container {
	position: relative;
	padding-top: 110px
}

@media only screen and (min-width: 768px) {
	.large-banner__container {
		padding-top: 100px
	}
}

@media only screen and (min-width: 1024px) {
	.large-banner__container {
		padding-top: 180px
	}
}

@media only screen and (min-width: 1200px) {
	.large-banner__container {
		padding-top: 252px
	}
}

.large-banner__title {
	line-height: 1.25;
	margin-bottom: 20px
}

@media only screen and (min-width: 768px) {
	.large-banner__title {
		padding-top: 50px;
		margin-bottom: 15px
	}
}

@media only screen and (min-width: 1024px) {
	.large-banner__title {
		padding-top: 0
	}
}

.large-banner__title--light {
	color: #fff
}

.large-banner__text {
	line-height: 1.5;
	max-width: 487px;
	font-family: "Lexend Deca", Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 20px
}

@media only screen and (min-width: 768px) {
	.large-banner__text {
		margin-bottom: 30px
	}
}

.large-banner__text--light {
	color: #fff
}

.large-banner__button {
	-webkit-box-shadow: 0 2px 10px #002855;
	box-shadow: 0 2px 10px #002855
}

.large-banner__social-list {
	display: none
}

@media only screen and (min-width: 768px) {
	.large-banner__social-list {
		position: absolute;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		left: 0;
		width: 60px;
		top: 120px
	}
}

@media only screen and (min-width: 1024px) {
	.large-banner__social-list {
		top: 150px
	}
}

@media only screen and (min-width: 1200px) {
	.large-banner__social-list {
		top: 200px
	}
}

@media only screen and (min-width: 1440px) {
	.large-banner__social-list {
		display: block;
		left: auto;
		top: auto;
		right: -webkit-calc(100% + 40px);
		right: calc(100% + 40px);
		-webkit-transform: translateY(50px);
		-ms-transform: translateY(50px);
		transform: translateY(50px)
	}
}

.large-banner__social-item {
	margin-bottom: 30px
}

.large-banner__social-link:hover .large-banner__icon:after {
	height: 30px;
	width: -webkit-calc(100% + 11px);
	width: calc(100% + 11px);
	border: 1px solid #00C08B;
	opacity: 1
}

.large-banner__icon {
	position: relative;
	display: block;
	color: #fff;
	width: 20px;
	font-size: 20px;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1)
}

.large-banner__icon:after {
	display: block;
	position: absolute;
	content: '';
	border-radius: 50%;
	background-color: transparent;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	height: 20px;
	width: 25px;
	border: 1px solid #fff;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.menu {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 26px 0 !important
}

@media only screen and (min-width: 768px) {
	.menu {
		padding: 50px 0 0 !important
	}
}

.menu__brand {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}

.menu__brand:hover .menu__logo {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}

.menu__logo {
	max-width: 140px;
	-webkit-transition: 0.22s ease-out;
	-o-transition: 0.22s ease-out;
	transition: 0.22s ease-out
}

@media only screen and (min-width: 768px) {
	.menu__logo {
		max-width: 162px
	}
}

.menu__body {
	position: absolute;
	bottom: 100%;
	left: -10px;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1)
}

@media (max-width:768px){
	.menu__body.active {
		padding-top: 30px;
		bottom: auto;
		top: 100%;
		background-color: #002855
	}

	.header.active {
		position: fixed;
		height: 100vh;
		background: #002855
	}
}


@media only screen and (min-width: 768px) {
	.menu__body {
		position: static;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		top: auto;
		bottom: auto;
		left: auto;
		height: auto;
		background: transparent;
		width: 100%;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
		overflow: visible;
		overflow: initial;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end
	}
}

.menu__list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	margin-bottom: 0;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-webkit-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	padding: 0 22px;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start
}

@media only screen and (min-width: 768px) {
	.menu__list {
		position: static;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		margin-top: 0;
		top: auto;
		left: auto;
		max-width: none;
		padding: 0;
		width: 450px;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center
	}
}

.menu__item {
	margin-bottom: 50px
}

@media only screen and (min-width: 768px) {
	.menu__item {
		margin-bottom: 0;
		margin-bottom: initial
	}
}

.menu__item--full-mobile {
	width: 100%;
	margin-bottom: 30px
}

@media only screen and (min-width: 768px) {
	.menu__item--full-mobile {
		margin-top: 0;
		margin-top: initial;
		margin-bottom: 0;
		margin-bottom: initial;
		width: auto;
		width: initial
	}
}

.menu__link {
	position: relative;
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	letter-spacing: .88px;
	text-shadow: 0 2px 10px #002855;
	font-family: "Lexend Deca", Arial, sans-serif;
	font-size: 20px
}

@media only screen and (min-width: 768px) {
	.menu__link {
		font-size: 14px
	}
}

.menu__link:after {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	content: '';
	bottom: -5px;
	width: 0;
	height: 3px;
	background-color: #00C08B;
	-webkit-transition: 0.22s ease-out;
	-o-transition: 0.22s ease-out;
	transition: 0.22s ease-out
}

.menu__link:hover{
	color:#fff;
	text-decoration: none;
}


.menu__link:hover:after {
	width: 100%
}

.menu__button {
	max-width: none;
	width: 100%
}

@media only screen and (min-width: 768px) {
	.menu__button {
		width: auto
	}
}

.menu__burger {
	position: relative;
	border: none;
	vertical-align: middle;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	padding: 6px 0 0;
	width: 23px;
	height: 26px;
	background-color: transparent;
	margin-right: 13px;
	cursor: pointer
}

.menu__burger span {
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	background-color: #fff;
	display: block;
	width: 23px;
	height: 3px;
	border-radius: 10px
}

.menu__burger:active span,
.menu__burger:focus span {
	background-color: #fff
}

@media (min-width: 768px) {
	.menu__burger {
		display: none
	}
}

.menu__burger.active {
	height: 22px
}

.menu__burger.active span {
	background-color: #fff;
	width: 25px
}

.menu__burger.active span:first-child {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.menu__burger.active span:nth-child(2) {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0)
}

.menu__burger.active span:last-child {
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transform: translate(3px, -4px) rotate(-45deg);
	-ms-transform: translate(3px, -4px) rotate(-45deg);
	transform: translate(3px, -4px) rotate(-45deg)
}

.menu__footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

@media only screen and (min-width: 768px) {
	.menu__footer {
		display: none
	}
}

.menu__secondary-item {
	margin-bottom: 30px
}

.menu__secondary-logo {
	max-width: 150px
}

.menu__copyright {
	font-size: 12px;
	color: #fff
}

.menu__social-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 110px
}

@media only screen and (min-width: 768px) {
	.menu__social-list {
		display: none
	}
}

.menu__social-item {
	margin: 0 25px
}

.menu__social-link:hover .menu__icon:after {
	height: 40px;
	width: -webkit-calc(100% + 13px);
	width: calc(100% + 13px);
	border: 1px solid #00C08B;
	opacity: 1
}

.menu__icon {
	position: relative;
	display: block;
	color: #fff;
	width: 30px;
	font-size: 30px;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1)
}

.menu__icon:after {
	display: block;
	position: absolute;
	content: '';
	border-radius: 50%;
	background-color: transparent;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	height: 30px;
	width: 35px;
	border: 1px solid #fff;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.box {
	display: inline-block;
	overflow: hidden;
	border-radius: 10px;
	background-color: #fff;
	padding: 40px 20px
}

@media only screen and (min-width: 768px) {
	.box {
		padding: 60px 40px
	}
}

.box--collapsed {
	margin-top: -50px
}

@media only screen and (min-width: 1024px) {
	.box--collapsed {
		margin-top: -125px
	}
}

.box--with-shadow {
	-webkit-box-shadow: 0 2px 10px rgba(0, 40, 85, 0.1);
	box-shadow: 0 2px 10px rgba(0, 40, 85, 0.1)
}

.box--with-background {
	padding: 0;
	min-width: 280px;
	min-height: 220px
}

@media only screen and (min-width: 768px) {
	.box--with-background {
		min-width: 555px;
		min-height: 435px
	}
}

.box__background-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 220px
}

@media only screen and (min-width: 768px) {
	.box__background-image {
		min-height: 435px
	}
}

.box__title {
	color: #002855
}

.box__text {
	line-height: 1.86;
	font-size: 15px;
	margin-bottom: 25px
}

@media only screen and (min-width: 768px) {
	.box__text {
		margin-bottom: 20px
	}
}

.table__icon {
	font-size: 15px;
	color: #8093AA
}

.table__icon--small {
	font-size: 5px
}

.table__icon--big {
	font-size: 16px
}

.table__icon--primary {
	color: #00C08B
}

.table__icon--alt {
	color: #50A08A
}

.table-container {
	padding-bottom: 10px;
	margin: 25px 0 0
}

@media only screen and (min-width: 768px) {
	.table-container {
		margin: 69px 0 50px;
		background: #fff;
		-webkit-box-shadow: 0 2px 10px rgba(0, 40, 85, 0.1);
		box-shadow: 0 2px 10px rgba(0, 40, 85, 0.1);
		border-radius: 10px;
		overflow: hidden
	}
}

.table__th,
.table__cell {
	text-align: center
}

.table__th {
	padding-top: 27px;
	padding-bottom: 20px;
	display: none
}

@media only screen and (min-width: 768px) {
	.table__th {
		display: inline;
		display: initial;
		text-align: center !important
	}
}

.table__row {
	background: #fff;
	-webkit-box-shadow: 0 2px 10px rgba(0, 40, 85, 0.1);
	box-shadow: 0 2px 10px rgba(0, 40, 85, 0.1);
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px
}

.table__row:last-child {
	margin-bottom: 0
}

@media only screen and (min-width: 768px) {
	.table__row {
		background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
		background: initial;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
		overflow: visible;
		overflow: initial;
		margin-bottom: 0;
		margin-bottom: initial
	}
}

@media only screen and (min-width: 768px) {
	.table__row:nth-child(odd) {
		background: rgba(128, 147, 170, 0.1)
	}
}

.table__row .table__cell:nth-child(even) {
	background: rgba(128, 147, 170, 0.1)
}

@media only screen and (min-width: 768px) {
	.table__row .table__cell:nth-child(even) {
		background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
		background: initial
	}
}

.table__head .table__row:nth-child(odd) {
	background: #fff
}

.table__cell {
	font-family: "Lexend Deca", Arial, sans-serif;
	color: #002855;
	font-size: 16px;
	padding: 15px 20px !important;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

@media only screen and (min-width: 768px) {
	.table__cell {
		text-align: center !important;
		display: table-cell !important
	}
}

.table__cell.table__text {
	padding: 25px 20px
}

@media only screen and (min-width: 768px) {
	.table__cell.table__text {
		text-align: left !important;
		padding: 0;
		padding: initial
	}
}

.table__cell.table__text .tablesaw-cell-label {
	display: none
}

.table__text {
	min-width: 240px;
	text-align: left;
	padding-left: 20px
}

@media only screen and (min-width: 768px) {
	.table__text {
		min-width: 0;
		max-width: 160px
	}
}

@media only screen and (min-width: 1024px) {
	.table__text {
		min-width: 240px;
		max-width: none
	}
}

.card {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	background-color: #002855;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: top right;
	-webkit-box-shadow: 0 2px 10px rgba(0, 40, 85, 0.1);
	box-shadow: 0 2px 10px rgba(0, 40, 85, 0.1);
	-webkit-transition: 0.22s ease-out;
	-o-transition: 0.22s ease-out;
	transition: 0.22s ease-out;
	padding: 50px 20px 30px 20px;
	min-height: 376px
}

@media only screen and (min-width: 768px) {
	.card {
		padding: 100px 20px 30px 20px;
		min-height: 450px
	}
}

.card:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05)
}

.card:hover .card__icon {
	left: 100%;
	-webkit-transform: translateX(100%) translateY(-50%);
	-ms-transform: translateX(100%) translateY(-50%);
	transform: translateX(100%) translateY(-50%);
	opacity: 0
}

.card:hover .card__link {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	opacity: 0
}

.card:hover .card__text {
	top: 0;
	opacity: 1
}

@media only screen and (min-width: 768px) {
	.card:hover {
		-webkit-box-shadow: 0 2px 11px rgba(0, 40, 85, 0.1);
		box-shadow: 0 2px 11px rgba(0, 40, 85, 0.1)
	}
}

.card--light {
	background-color: #8093AA
}

.card--white {
	background-color: #fff
}

.card--white .card__title,
.card--white .card__link {
	color: #002855
}

.card--white .card__link:after {
	background-color: #002855
}

.card--white .card__text {
	color: #333
}

.card__body {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	overflow: hidden;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.card__title,
.card__link,
.card__text {
	color: #fff
}

.card__title {
	text-transform: capitalize
}

.card__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0 auto;
	min-width: 79px;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s
}

.card__link {
	position: absolute;
	display: inline-block;
	padding-bottom: 2px;
	font-family: "Lexend Deca", Arial, sans-serif;
	font-size: 16px;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	bottom: 0
}

.card__link:after {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	display: block;
	content: '';
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #fff
}

.card__text {
	position: relative;
	opacity: 0;
	top: 100%;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	-webkit-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	transition-delay: 0.4s;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	line-height: 1.86
}

.arrow {
	background: none
}

@media only screen and (min-width: 1024px) {
	.arrow {
		padding: 0 20px
	}
}

.arrow:hover .arrow__icon {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}

.arrow__icon {
	display: block;
	color: #0055B8;
	font-size: 23px;
	-webkit-transition: 0.22s ease-out;
	-o-transition: 0.22s ease-out;
	transition: 0.22s ease-out
}

.arrow__icon--light {
	color: #8093AA
}

@font-face {
	font-family: 'icomoon';
	src: url("https://assets.terminusdb.com/fonts/icomoon.eot?oqqotq");
	src: url("https://assets.terminusdb.com/fonts/icomoon.eot?oqqotq#iefix") format("embedded-opentype"), url("https://assets.terminusdb.com/fonts/icomoon.woff2?oqqotq") format("woff2"), url("https://assets.terminusdb.com/fonts/icomoon.ttf?oqqotq") format("truetype"), url("https://assets.terminusdb.com/fonts/icomoon.woff?oqqotq") format("woff"), url("https://assets.terminusdb.com/fonts/icomoon.svg?oqqotq#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	-webkit-font-feature-settings: normal;
	-moz-font-feature-settings: normal;
	font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-github-logo:before {
	content: "\e905"
}

.icon-twitter:before {
	content: "\e906"
}

.icon-minus:before {
	content: "\e902"
}

.icon-arrow-left:before {
	content: "\e900"
}

.icon-arrow-right:before {
	content: "\e901"
}

.icon-tick:before {
	content: "\e903"
}

.icon-x:before {
	content: "\e904"
}

.slick-slider {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0
}

.slick-list:focus {
	outline: none
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table
}

.slick-track:after {
	clear: both
}

.slick-loading .slick-track {
	visibility: hidden
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none
}

[dir="rtl"] .slick-slide {
	float: right
}

.slick-slide img {
	display: block
}

.slick-slide.slick-loading img {
	display: none
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-initialized .slick-slide {
	display: block
}

.slick-loading .slick-slide {
	visibility: hidden
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

.slick-arrow.slick-hidden {
	display: none
}

.slick-prev,
.slick-next {
	display: inline-block;
	position: absolute;
	width: 48px;
	height: 48px;
	background-color: #00C08B;
	bottom: -80px;
	cursor: pointer;
	color: #fff
}

.slick-prev:hover,
.slick-next:hover {
	background-color: #00fdb7
}

.slick-prev--mid,
.slick-next--mid {
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2
}

.slick-prev--alt,
.slick-next--alt {
	background-color: #002855
}

.slick-prev--alt:hover,
.slick-next--alt:hover {
	background-color: #004592
}

.slick-prev--mid {
	left: 10px
}

.slick-next--mid {
	right: 10px
}


/*! Tablesaw - v3.1.2 - 2019-03-19
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2019 Filament Group; Licensed MIT */

.tablesaw {
	width: 100%;
	max-width: 100%;
	empty-cells: show;
	border-collapse: collapse;
	border: 0;
	padding: 0
}

.tablesaw * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.tablesaw-btn {
	border: 1px solid #CCCCCC;
	border-radius: 0.25em;
	background: none;
	-webkit-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	color: #4A4A4A;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0.5em 0.85em 0.4em 0.85em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

a.tablesaw-btn {
	color: #1C95D4
}

.tablesaw-btn:hover {
	text-decoration: none
}

.tablesaw-btn:active {
	background-color: #ddd
}

@supports (box-shadow: none) {
	.tablesaw-btn:focus {
		background-color: #fff;
		outline: none
	}
	.tablesaw-btn:focus {
		-webkit-box-shadow: 0 0 .35em #4faeef !important;
		box-shadow: 0 0 .35em #4faeef !important
	}
}

.tablesaw-btn-select select {
	background: none;
	border: none;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	min-height: 1em;
	opacity: 0;
	color: transparent
}

.tablesaw-btn select option {
	background: #fff;
	color: #000
}

.tablesaw-btn {
	display: inline-block;
	width: auto;
	height: auto;
	position: relative;
	top: 0
}

.tablesaw-btn.btn-small {
	font-size: 1.0625em;
	line-height: 19px;
	padding: .3em 1em .3em 1em
}

.tablesaw-btn.btn-micro {
	font-size: .8125em;
	padding: .4em .7em .25em .7em
}

.tablesaw-btn-select {
	padding-right: 1.5em;
	text-align: left;
	display: inline-block;
	color: #4d4d4d;
	padding-right: 2.5em;
	min-width: 7.25em
}

.tablesaw-btn-select:after {
	content: " ";
	position: absolute;
	background: none;
	background-repeat: no-repeat;
	background-position: .25em .45em;
	content: "\25bc";
	font-size: .55em;
	padding-top: 1.2em;
	padding-left: 1em;
	left: auto;
	right: 0;
	margin: 0;
	top: 0;
	bottom: 0;
	width: 1.8em
}

.tablesaw-btn-select.btn-small:after,
.tablesaw-btn-select.btn-micro:after {
	width: 1.2em;
	font-size: .5em;
	padding-top: 1em;
	padding-right: .5em;
	line-height: 1.65;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-left-width: 0
}

.tablesaw-advance .tablesaw-btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-shadow: 0 1px 0 #fff;
	border-radius: .25em
}

.tablesaw-advance .tablesaw-btn.btn-micro {
	font-size: .8125em;
	padding: .3em .7em .25em .7em
}

.tablesaw-advance a.tablesaw-nav-btn:first-child {
	margin-left: 0
}

.tablesaw-advance a.tablesaw-nav-btn:last-child {
	margin-right: 0
}

.tablesaw-advance a.tablesaw-nav-btn {
	display: inline-block;
	overflow: hidden;
	width: 1.8em;
	height: 1.8em;
	background-position: 50% 50%;
	margin-left: .25em;
	margin-right: .25em;
	position: relative;
	text-indent: -9999px
}

.tablesaw-advance a.tablesaw-nav-btn.left:before,
.tablesaw-advance a.tablesaw-nav-btn.right:before,
.tablesaw-advance a.tablesaw-nav-btn.down:before,
.tablesaw-advance a.tablesaw-nav-btn.up:before {
	content: "\0020";
	overflow: hidden;
	width: 0;
	height: 0;
	position: absolute
}

.tablesaw-advance a.tablesaw-nav-btn.down:before {
	left: .5em;
	top: .65em;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #808080
}

.tablesaw-advance a.tablesaw-nav-btn.up:before {
	left: .5em;
	top: .65em;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #808080
}

.tablesaw-advance a.tablesaw-nav-btn.left:before,
.tablesaw-advance a.tablesaw-nav-btn.right:before {
	top: .45em;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent
}

.tablesaw-advance a.tablesaw-nav-btn.left:before {
	left: .6em;
	border-right: 5px solid #808080
}

.tablesaw-advance a.tablesaw-nav-btn.right:before {
	left: .7em;
	border-left: 5px solid #808080
}

.tablesaw-advance a.tablesaw-nav-btn.disabled {
	opacity: .25;
	cursor: default;
	pointer-events: none
}

.tablesaw-bar {
	clear: both
}

.tablesaw-bar * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.tablesaw-bar-section {
	float: left
}

.tablesaw-bar-section label {
	font-size: .875em;
	padding: .5em 0;
	clear: both;
	display: block;
	color: #888;
	margin-right: .5em;
	text-transform: uppercase
}

.tablesaw-btn,
.tablesaw-enhanced .tablesaw-btn {
	margin-top: .5em;
	margin-bottom: .5em
}

.tablesaw-btn-select,
.tablesaw-enhanced .tablesaw-btn-select {
	margin-bottom: 0
}

.tablesaw-bar .tablesaw-bar-section .tablesaw-btn {
	margin-left: .4em;
	margin-top: 0;
	text-transform: uppercase;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
	font-size: 1em;
	padding-left: .3em
}

.tablesaw-bar .tablesaw-bar-section .btn-select {
	min-width: 0
}

.tablesaw-bar .tablesaw-bar-section .btn-select:after {
	padding-top: .9em
}

.tablesaw-bar .tablesaw-bar-section select {
	color: #888;
	text-transform: none;
	background: transparent
}

.tablesaw-bar-section~table {
	clear: both
}

.tablesaw-bar-section .abbreviated {
	display: inline
}

.tablesaw-bar-section .longform {
	display: none
}

@media (min-width: 24em) {
	.tablesaw-bar-section .abbreviated {
		display: none
	}
	.tablesaw-bar-section .longform {
		display: inline
	}
}

.tablesaw th,
.tablesaw td {
	vertical-align: middle
}

.tablesaw-sortable-btn {
	padding: .5em .7em
}

.tablesaw-row-border tr {
	border-bottom: 1px solid #dfdfdf
}

.tablesaw-row-zebra tr:nth-child(2n) {
	background-color: #f8f8f8
}

.tablesaw caption {
	text-align: left;
	margin: .59375em 0
}

.tablesaw-swipe-shadow .tablesaw-swipe-cellpersist {
	border-right-width: 1px
}

.tablesaw-swipe-shadow .tablesaw-swipe-cellpersist {
	-webkit-box-shadow: 3px 0 4px -1px #e4e1de;
	box-shadow: 3px 0 4px -1px #e4e1de
}

@media only all {
	.tablesaw-stack {
		clear: both
	}
	.tablesaw-stack td,
	.tablesaw-stack th {
		display: block;
		text-align: left
	}
	.tablesaw-stack td.table__text,
	.tablesaw-stack th.table__text {
		text-align: left
	}
	.tablesaw-stack tr {
		clear: both;
		display: table-row
	}
	.tablesaw-stack td .tablesaw-cell-label,
	.tablesaw-stack th .tablesaw-cell-label {
		display: inline-block;
		padding: 0 .6em 0 0;
		width: 30%
	}
	.tablesaw-stack th .tablesaw-cell-label-top,
	.tablesaw-stack td .tablesaw-cell-label-top {
		display: block;
		padding: .4em 0;
		margin: .4em 0
	}
	.tablesaw-cell-label {
		display: block
	}
	.tablesaw-stack tbody th.group {
		margin-top: -1px
	}
	.tablesaw-stack th.group b.tablesaw-cell-label {
		display: none !important
	}
}

@media (max-width: 39.9375em) {
	.tablesaw-stack tbody tr {
		display: block;
		width: 100%
	}
	.tablesaw-stack thead td,
	.tablesaw-stack thead th {
		display: none
	}
	.tablesaw-stack tbody td,
	.tablesaw-stack tbody th {
		display: block;
		float: left;
		clear: left;
		width: 100%
	}
	.tablesaw-cell-label {
		vertical-align: top
	}
	.tablesaw-cell-content {
		display: inline-block;
		max-width: 67%
	}
	.tablesaw-stack .tablesaw-stack-block .tablesaw-cell-label,
	.tablesaw-stack .tablesaw-stack-block .tablesaw-cell-content {
		display: block;
		width: 100%;
		max-width: 100%;
		padding: 0
	}
	.tablesaw-stack td:empty,
	.tablesaw-stack th:empty {
		display: none
	}
}

@media (min-width: 40em) {
	.tablesaw-stack tr {
		display: table-row
	}
	.tablesaw-stack td,
	.tablesaw-stack th,
	.tablesaw-stack thead td,
	.tablesaw-stack thead th {
		display: table-cell;
		margin: 0
	}
	.tablesaw-stack td .tablesaw-cell-label,
	.tablesaw-stack th .tablesaw-cell-label {
		display: none !important
	}
}

.tablesaw-fix-persist {
	table-layout: fixed
}

@media only all {
	.tablesaw-swipe th.tablesaw-swipe-cellhidden,
	.tablesaw-swipe td.tablesaw-swipe-cellhidden {
		display: none
	}
}

.tablesaw-overflow {
	position: relative;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch
}

.tablesaw-overflow>.tablesaw {
	margin-top: 2px
}

.tablesaw-columntoggle-btn span {
	text-indent: -9999px;
	display: inline-block
}

.tablesaw-columntoggle-btnwrap {
	position: relative
}

.tablesaw-columntoggle-btnwrap .dialog-content {
	padding: .5em
}

.tablesaw-columntoggle tbody td {
	line-height: 1.5
}

.tablesaw-columntoggle-popup {
	display: none
}

.tablesaw-columntoggle-btnwrap.visible .tablesaw-columntoggle-popup {
	display: block;
	position: absolute;
	top: 2em;
	right: 0;
	background-color: #fff;
	padding: .5em .8em;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	border-radius: .2em;
	z-index: 1
}

.tablesaw-columntoggle-popup fieldset {
	margin: 0
}

@media only all {
	.tablesaw-columntoggle th.tablesaw-priority-6,
	.tablesaw-columntoggle td.tablesaw-priority-6,
	.tablesaw-columntoggle th.tablesaw-priority-5,
	.tablesaw-columntoggle td.tablesaw-priority-5,
	.tablesaw-columntoggle th.tablesaw-priority-4,
	.tablesaw-columntoggle td.tablesaw-priority-4,
	.tablesaw-columntoggle th.tablesaw-priority-3,
	.tablesaw-columntoggle td.tablesaw-priority-3,
	.tablesaw-columntoggle th.tablesaw-priority-2,
	.tablesaw-columntoggle td.tablesaw-priority-2,
	.tablesaw-columntoggle th.tablesaw-priority-1,
	.tablesaw-columntoggle td.tablesaw-priority-1,
	.tablesaw-columntoggle th.tablesaw-priority-0,
	.tablesaw-columntoggle td.tablesaw-priority-0 {
		display: none
	}
}

.tablesaw-columntoggle-btnwrap .dialog-content {
	top: 0 !important;
	right: 1em;
	left: auto !important;
	width: 12em;
	max-width: 18em;
	margin: -.5em auto 0
}

.tablesaw-columntoggle-btnwrap .dialog-content:focus {
	outline-style: none
}

@media (min-width: 20em) {
	.tablesaw-columntoggle th.tablesaw-priority-1,
	.tablesaw-columntoggle td.tablesaw-priority-1 {
		display: table-cell
	}
}

@media (min-width: 30em) {
	.tablesaw-columntoggle th.tablesaw-priority-2,
	.tablesaw-columntoggle td.tablesaw-priority-2 {
		display: table-cell
	}
}

@media (min-width: 40em) {
	.tablesaw-columntoggle th.tablesaw-priority-3,
	.tablesaw-columntoggle td.tablesaw-priority-3 {
		display: table-cell
	}
	.tablesaw-columntoggle tbody td {
		line-height: 2
	}
}

@media (min-width: 50em) {
	.tablesaw-columntoggle th.tablesaw-priority-4,
	.tablesaw-columntoggle td.tablesaw-priority-4 {
		display: table-cell
	}
}

@media (min-width: 60em) {
	.tablesaw-columntoggle th.tablesaw-priority-5,
	.tablesaw-columntoggle td.tablesaw-priority-5 {
		display: table-cell
	}
}

@media (min-width: 70em) {
	.tablesaw-columntoggle th.tablesaw-priority-6,
	.tablesaw-columntoggle td.tablesaw-priority-6 {
		display: table-cell
	}
}

@media only all {
	.tablesaw-columntoggle th.tablesaw-toggle-cellhidden,
	.tablesaw-columntoggle td.tablesaw-toggle-cellhidden {
		display: none
	}
	.tablesaw-columntoggle th.tablesaw-toggle-cellvisible,
	.tablesaw-columntoggle td.tablesaw-toggle-cellvisible {
		display: table-cell
	}
}

.tablesaw-columntoggle-popup .tablesaw-btn-group>label {
	display: block;
	padding: .2em 0;
	white-space: nowrap;
	cursor: default
}

.tablesaw-columntoggle-popup .tablesaw-btn-group>label input {
	margin-right: .8em
}

.tablesaw-sortable-head {
	position: relative;
	vertical-align: top
}

.tablesaw .tablesaw-sortable-head {
	padding: 0
}

.tablesaw-sortable-btn {
	min-width: 100%;
	color: inherit;
	background: transparent;
	border: 0;
	text-align: inherit;
	font: inherit;
	text-transform: inherit
}

.tablesaw-sortable-arrow:after {
	display: inline-block;
	width: 10px;
	height: 14px;
	content: " ";
	margin-left: .3125em
}

.tablesaw-sortable-ascending .tablesaw-sortable-arrow:after,
.tablesaw-sortable-descending .tablesaw-sortable-arrow:after {
	content: "\0020"
}

.tablesaw-sortable-ascending .tablesaw-sortable-arrow:after {
	content: "\2191"
}

.tablesaw-sortable-descending .tablesaw-sortable-arrow:after {
	content: "\2193"
}

.tablesaw-advance {
	float: right
}

.tablesaw-advance.minimap {
	margin-right: 0.4em
}

.tablesaw-advance-dots {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none
}

.tablesaw-advance-dots li {
	display: table-cell;
	margin: 0;
	padding: 0.4em 0.2em
}

.tablesaw-advance-dots li i {
	width: 0.25em;
	height: 0.25em;
	background: #555;
	border-radius: 100%;
	display: inline-block
}

.tablesaw-advance-dots-hide {
	opacity: 0.25;
	cursor: default;
	pointer-events: none
}

@media (max-width: 767.9375px) {
	.table-container .tablesaw-stack tbody tr {
		display: block;
		width: 100%;
		border-bottom: 1px solid #dfdfdf
	}
	.table-container .tablesaw-stack thead td,
	.table-container .tablesaw-stack thead th {
		display: none
	}
	.table-container .tablesaw-stack tbody td,
	.table-container .tablesaw-stack tbody th {
		display: block;
		float: left;
		clear: left;
		width: 100%
	}
	.table-container .tablesaw-cell-label {
		vertical-align: top
	}
	.table-container .tablesaw-cell-content {
		max-width: 67%;
		display: inline-block
	}
	.table-container .tablesaw-stack td:empty,
	.table-container .tablesaw-stack th:empty {
		display: none
	}
}

@media (min-width: 768px) {
	.table-container .tablesaw-stack tr {
		display: table-row
	}
	.table-container .tablesaw-stack td,
	.table-container .tablesaw-stack th,
	.table-container .tablesaw-stack thead td,
	.table-container .tablesaw-stack thead th {
		display: table-cell;
		margin: 0
	}
	.table-container .tablesaw-stack td .tablesaw-cell-label,
	.table-container .tablesaw-stack th .tablesaw-cell-label {
		display: none !important
	}
}

.table-container .tablesaw .table__cell .tablesaw-cell-label {
	display: block !important
}

@media only screen and (min-width: 768px) {
	.table-container .tablesaw .table__cell .tablesaw-cell-label {
		display: none !important
	}
}

.table-container .tablesaw .table__cell.table__text .tablesaw-cell-label {
	display: none !important
}

@media only screen and (min-width: 768px) {
	.table-container .tablesaw .table__cell.table__text {
		display: block !important
	}
}
.card__body{
	min-height: 320px;
}
