.next-steps .fa-link {
  margin-right: 5px;
}
.free-p-div{
    margin-top: 40px
}

button.pr {
    margin-left: 10px;
}

.fullscreen-enabled .my-component {
  background: #fff;
}

div.jYNXPe {
    margin-left: 50px;
}

div.collapse{
    /*overflow: hidden;*/
    overflow:visible;
    position: relative;
    width: 100%;
    /*width: 100%;*/
}

div.main-nav{
    height: 100%;
    position: absolute;
    top: 0;
}

div.s-nav{
    height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
}

/*button.fwIEmi:hover:not(:disabled){
    background-color: red !important
}*/

button.formMrg{
    margin-bottom: 20px;
}

button.sc-hSdWYo{
    border-radius: 0px;
    min-width: 10px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

div.sch-disp{
    margin-top: 150px;
}

button.cOJQpm:disabled svg{
    display: none;
}

div.header legend, div.row legend {
    margin-top: 0px !important
}

div.ePDqSK {
    height:auto !important;
}

label.cth{
    margin: 10px;
    font-size: 16px;
}

div.ic-a-us{
    float: right;
    cursor: pointer;
    margin-left: 25px;
}

div.gzmtPb svg {
    display: none;
}

nav.rdt_Pagination {
    display: flex;
}

div.ic-a-us svg {
    margin-top: 15px;
    font-size: 18px;
}

button.ic-a-us{
    background-color: none !important;
}

div.user-pic{
    text-align: center;
    text-transform: none;
    margin-top: -70px;
}

textarea {
    border-radius: 4px;
}
/*
input[type="radio"] {
    margin: 5px 40px 0px 0px !important;
}*/

.user-card{
    height: 100%;
}

legend.user-card-title{
    background-color: #fff;
    padding: 20px 10px 0px 20px;
}

div.user-card-bg{
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 230px;
    border-radius: 10px;
}

h3.category{
    font-size: 22px;
    font-weight: 400;
    color: #000;
    margin: 25px 0px 0px 0px;
    line-height: 30px;
}

 span.subCategoryIcons svg{
    margin: 28px 15px 0px 0px;
    color: #586069;
    font-size: 22px
}

.dXnrMR {
    position: inherit !important
}

div.hJrkQD{
    font-weight: 600;
    font-size: 14px;
    padding-left: 40px;
}

div.d-f-ctrl{
    float: right;
    font-size: 20px;
    cursor: pointer;
}

div.us-ctrl{
    float: right;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
}

hr.my-space-15{
    border-top: 0px !important;
    margin-top: 15px;
}

hr.my-space-5{
    border-top: 0px !important;
    margin-top: 15px;
}

hr.my-space-25{
    border-top: 0px !important;
    margin-top: 25px;
}

hr.my-space-50{
    border-top: 0px !important;
    margin-top: 50px;
}

hr.my-space-100{
    border-top: 0px !important;
    margin-top: 100px;
}

hr.pr-hding-sp{
    margin-top: 80px !important;
}

.next-steps .col-md-5 {
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

label.headings{
    color: #0055bb;
}

i.ico-2x{
    font-size: 17px;
    margin-top: 2px;
    color: #6a737d !important;
}

p.errors {
  color: #bf1650;
}

p.errors::before {
  display: inline;
  content: "⚠ ";
}

input.form {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #000;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label.form {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: #000;
  font-size: 14px;
  font-weight: 200;
}

button.form[type="submit"],
input.form[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

button.form[type="submit"]:hover,
input.form[type="submit"]:hover {
  background: #bf1650;
}

button.form[type="submit"]:active,
input.form[type="button"]:active,
input.form[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input.form:disabled {
  opacity: 0.4;
}

input.form[type="button"]:hover {
  transition: 0.3s all;
}

button.form[type="submit"],
input.form[type="button"],
input.form[type="submit"] {
  -webkit-appearance: none;
}

button{
    float: right;
    min-width: 100px;
    margin: 20px 0px 10px 0x;
}

div.css-yk16xz-control{
    border-color: #000 !important;
}

.logo{
    /*background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzYgNDEiIHZlcnNpb249IjEuM…MuOTg3MDQ1MyAxMi42MDQ3OTE4Ij48L3BvbHlnb24+PC9nPjwvZz48L2c+PC9nPjwvc3ZnPg==);
    */
    background-image:url('https://terminusdb.com/img/logos/logo.svg');/*url('./assets/logoOnly.jpg')*/;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: cover
}

.userProfile{
    /*background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzYgNDEiIHZlcnNpb249IjEuM…MuOTg3MDQ1MyAxMi42MDQ3OTE4Ij48L3BvbHlnb24+PC9nPjwvZz48L2c+PC9nPjwvc3ZnPg==);
    */
    background-image:url('https://terminusdb.com/img/placeholders/half-background.png');/*url('./assets/logoOnly.jpg')*/;

    background-repeat: no-repeat;
    background-size: cover
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.user_info_box{
    width: 100%;
    border-top: 1px solid white;
    padding-top: 20px;
}

.navbar-light.bg-light .nav-link {
  color: #041433;
}

.navBarTop{
  background-color: #002856;
  padding: 1.375rem 0;
  box-shadow: 0 1px 2px 0 #dfe3ec
}

.navbar .router-link-exact-active {
  border-bottom: 3px solid #00C08B !important;
}

.navbar-brand {
  margin-right: 20px;
}

.navbar-nav .nav-link {
  color: white;
  /*padding: 0 0 .5rem 0;*/
  box-sizing: border-box;
  margin: 0 40px 0 0;
  font-weight: 400;
  margin-top: 10px;
}

.navbar-nav .nav-link:hover {
  color: hsla(0,0%,100%,.75);
}

.navbar-nav .btn {
  min-width: 145px
}

.nav-user-profile {
  border-radius: 50% 50%;
  max-width: 2.8rem;
  height: auto;
  box-shadow: 0 0 4px 0 #b3bac7
}

.nav-item.dropdown .dropdown-toggle {
  margin: 0
}

.nav-item.dropdown .dropdown-name {
  font-weight: 600
}

.nav-item.dropdown .router-link-exact-active {
  border: 0
}

.nav-item.dropdown .dropdown-menu {
  box-shadow: 0 0 4px 0 #b3bac7
}

.nav-item.dropdown .dropdown-header {
  border-bottom: 1px solid #b3bac7;
  font-size: 1rem;
  font-weight: 600;
  color: #041433
}

.dropdown-menu{
  right: 0;
  left: auto;
}

div.navbar-collapse{
   overflow:visible !important;
}

div.brSeltr{
    margin-top: 30px;
    padding-right: 0px;
}

input.checkBox {
    float: right;
    margin-top: 28px;
}

span.display-flex{
    display: inline-flex;
}

button.flatButton{
    color: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
    min-width: 0px !important;
}

div.q-e div.react-codemirror2{
    margin-top: 0px !important;
}

div.d3-component{
    /*border: 1px solid darkgrey;*/
}

div.sketch-picker {
    position: absolute !important;
    margin-top: 30px !important;
}

div.Collapsible{
    background-color: #f5f5f5;
    margin-top: 100px;
    font-size: 18px;
    padding: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

div.qph{
    margin: 0px 0px 10px 15px;
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

span.qp-cont{
    /*margin-top: 100px;*/
    /*border: 1px solid blue;*/
}

button.btn-q-fmt, span.d-ddps div.dropdown button {
    color: black;
    border: 0;
    background-color: #f5f5f5;
}

span.d-ddps div.dropdown div{
    background-color: #f5f5f5;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

button.btn-q-fmt:hover, span.d-ddps div.dropdown button:hover{
    background-color: #d9d9d9;
    color: black;
    border: 0;
}

button.btn-q-fmt:active, button.btn-q-fmt:focus{
    border: 0;
    background-color: #d9d9d9;
    border-bottom: 3px solid #ff8000 !important;
    font-weight: 600;
}

div.q-e{
    /*border: 1px solid black;*/
}

div.q-Re{
    border: 2px solid #007bff;
    background-color: #fff;
}

div.q-Ru{
    border: 1px solid green;
}

span.d-ddps{
    float:left;
    margin: 10px 0px 10px 0px;
    width: 100%;
    background-color: #f5f5f5;
}

hr.my-3-clr {
    border-top: 1px solid #00C08B !important;
}

div.CodeMirror-hscrollbar{
    display: none !important;
}

div.cm-s-mdn-like{
    height: 200px !important;
}

span.d-fl{
    display: flex;
}

button.preview{
    margin-top: 200px;
}

svg {
     margin: -5px 20px 10px 0px ;
     color:  #0055bb !important;
}

a.dropdown-profile svg, button.dropdown-item svg {
     margin: 15px 20px 0px 0px;
}

.nav-item{
    cursor: pointer;
}

.nav-item.dropdown .dropdown-item {
  border-bottom: 1px solid #b3bac7;
  padding: .55rem 1.5rem
}

.nav-item.dropdown .dropdown-item .icon {
  margin-right: 8px;
  vertical-align: middle
}

.nav-item.dropdown .dropdown-item:first-child:hover {
  background: inherit
}

.nav-item.dropdown .dropdown-item:last-child {
  border-bottom: 0
}

div.div-hide {
    display: none !important;
}

ul.nav-tabs {
    border-bottom: 1px solid #00C08B !important;
}

ul.nav-tabs li.nav-item:hover, ul.nav-tabs li.nav-item a.nav-link:visited {
    border: 0px solid #0055bb !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

ul.nav-tabs li.nav-item a.nav-link:hover {
    color: #00C08B
}

span.nav-al ul.navbar-nav li.nav-item a.nav-link:hover {
    /*background-color: #001833;*/
    border-bottom: 1px solid #00C08B;
    color: #fff;

}

span.nav-al ul.navbar-nav li.nav-item a.nav-link:visited {
    /*border-bottom: 1px solid #001833;*/
    border-bottom: 1px solid #00C08B;
}

div.db-nav {
    /*background-color: #CCDDF1;*/
    background-image: url(https://terminusdb.com/img/cards/card-shape-5.svg);
    border-radius: 3px;
}

div.curr-pr{
    border: 5px solid #CCDDF1;
}

div.db-nav ul.navbar-nav li.nav-item a.nav-link{
    /*color: #002856;*/
    color: #fff;
}

div.db-nav ul.navbar-nav li.nav-item a.nav-link:hover{
    /*background-color: #afcae9;*/
    border-bottom: 1px solid #00C08B;
}

div.tnaXA {
    display: unset !important;
}

p.dscr{
    margin: 50px 0px 50px 0px;
    padding-left: 100px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-top: 1px solid #00C08B !important;
    border-left: 1px solid #00C08B !important;
    border-right: 1px solid #00C08B !important;
   /* border-right: 1px solid #dee2e6 !important;*/
    color: #0055bb !important;
    font-weight: 600px;
}

.nav-tabs .nav-link {
    /* border: 1px solid transparent; */
    border: 0;
    border-top-left-radius: .25rem !important;;
    border-top-right-radius: .25rem !important;
}
.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 320px;
  padding: 0px 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}

.notification {
  box-sizing: border-box;
  padding: 15px 15px 15px 58px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  box-shadow: 0 0 12px #999;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px;
}

.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.notification:hover, .notification:focus {
  opacity: 1;
}

.notification-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}

.notification-leave {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-leave.notification-leave-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s;
}

.notification:before {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -14px;
  display: block;
  font-family: 'Notification';
  width: 28px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px;
}

.notification-info {
  background-color: #2f96b4;
}

.notification-info:before {
  content: "";
}

.notification-success {
  background-color: #51a351;
}

.notification-success:before {
  content: "";
}

.notification-warning {
  background-color: #f89406;
}

.notification-warning:before {
  content: "";
}

.notification-error {
  background-color: #bd362f;
}

.notification-error:before {
  content: "";
}

.navbar {
  padding: 10px 0
}

.navbar {
  background-color: #002856;
  padding: 5px;
  box-shadow: 0 1px 2px 0 #dfe3ec
}

.subNavBar{
    background-color: #fff !important;
}


@media (min-width:576px) {
  .container {
    max-width: inherit
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1440px
  }
}

/*@media (min-width:1500px) {
  .container {
    max-width: 1480px
  }
}*/



@media (max-width:767px) {
  .nav-item {
    margin-bottom: 1rem
  }
  .nav-item .nav-link {
    padding: 0 0 0 16px
  }
  .nav-item .nav-link.router-link-exact-active {
    border-bottom: 0;
    border-left: 3px solid #0066f9;
    padding-left: 13px!important;
    vertical-align: middle
  }
  .navbar-brand {
    margin-left: 2.5rem;
    vertical-align: top
  }
  .navbar-toggler {
    margin-right: 2.5rem;
    margin-left:auto;
  }

  .navbar-nav {
    margin-left: 1.5rem;
    margin-right: 1.5rem
  }
  .navbar-nav:first-child {
    margin-top: 1.5em
  }
  .navbar-nav:last-child {
    background: #fff;
    box-shadow: 0 -1px 2px 0 #dfe3ec;
    margin: 1.5em 0 0 0;
    padding: 1.5em 2.5rem
  }
  .navbar-nav:last-child li {
    margin-bottom: 1em
  }
  .navbar-nav:last-child li .icon {
    margin-right: 1em;
    vertical-align: middle
  }
  .navbar-nav:last-child li a {
    vertical-align: middle;
    color: #041433
  }
  .navbar-nav .user-info img {
    margin-right: 1em
  }
  .navbar-nav .btn-link {
    padding: 0;
    color: #041433;
    min-width: 0
  }
}

/*.logo {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzYgNDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PGZpbHRlciB4PSItNi45JSIgeT0iLTYuMiUiIHdpZHRoPSIxMTMuOSUiIGhlaWdodD0iMTEyLjUlIiBmaWx0ZXJVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIGlkPSJmaWx0ZXItMSI+PGZlT2Zmc2V0IGR4PSIwIiBkeT0iMSIgaW49IlNvdXJjZUFscGhhIiByZXN1bHQ9InNoYWRvd09mZnNldE91dGVyMSI+PC9mZU9mZnNldD48ZmVDb2xvck1hdHJpeCB2YWx1ZXM9IjAgMCAwIDAgMSAgIDAgMCAwIDAgMSAgIDAgMCAwIDAgMSAgMCAwIDAgMC41IDAiIHR5cGU9Im1hdHJpeCIgaW49InNoYWRvd09mZnNldE91dGVyMSIgcmVzdWx0PSJzaGFkb3dNYXRyaXhPdXRlcjEiPjwvZmVDb2xvck1hdHJpeD48ZmVNZXJnZT48ZmVNZXJnZU5vZGUgaW49InNoYWRvd01hdHJpeE91dGVyMSI+PC9mZU1lcmdlTm9kZT48ZmVNZXJnZU5vZGUgaW49IlNvdXJjZUdyYXBoaWMiPjwvZmVNZXJnZU5vZGU+PC9mZU1lcmdlPjwvZmlsdGVyPjwvZGVmcz48ZyBpZD0iUHJvamVjdC1TYW1wbGUtVUkiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxnIGlkPSJIb21lLUxvZ2dlZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI0Ny4wMDAwMDAsIC0yOC4wMDAwMDApIj48ZyBpZD0iSGVhZGVyIj48ZyBpZD0iTG9nbyIgZmlsdGVyPSJ1cmwoI2ZpbHRlci0xKSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQ3LjAwMDAwMCwgMjguMDAwMDAwKSI+PHBhdGggZD0iTTMxLjA3NzIzMjQsMCBMMTcuOTk5NTI4NywwIEw0LjkxOTYzMTUyLDAgTDAuODc4MDkwMjU4LDEyLjM1OTU2MjUgQy0xLjU3OTczNzE0LDE5Ljk0OTAyODQgMS4yODcxNzk3OCwyNy45Mzc3NzIxIDcuNDE2OTQyMDksMzIuMzYwNjI0NCBMMTcuOTk3MzM1Miw0MCBMMjguNTgxMDE4NiwzMi4zNTk1NjI1IEMzNS4wNDA5MDQsMjcuNjk1NjU2OCAzNy40NjAzNDUsMTkuNTU5MzA3NiAzNS4xMzQxMjgyLDEyLjM5Nzc5MTIgQzM1LjEyNDI1NzQsMTIuMzY0ODcyIDMxLjA3NzIzMjQsMCAzMS4wNzcyMzI0LDAiIGlkPSJGaWxsLTQiIGZpbGw9IiMwNDE0MzMiPjwvcGF0aD48cG9seWdvbiBpZD0iRmlsbC02IiBmaWxsPSIjRUZGMUY1IiBwb2ludHM9IjE4IDAgMjIuMDEyOTU0NyAxMi42MDQ3OTE4IDM1IDEyLjYwNDc5MTggMjQuNDkyOTgwMiAyMC4zOTUyMDgyIDI4LjUwNzAxOTggMzMgMTggMjUuMjEwNjY4MiA3LjQ5Mjk4MDIyIDMzIDExLjUwNTkzNDkgMjAuMzk1MjA4MiAxIDEyLjYwNDc5MTggMTMuOTg3MDQ1MyAxMi42MDQ3OTE4Ij48L3BvbHlnb24+PC9nPjwvZz48L2c+PC9nPjwvc3ZnPg==);
  width: 2rem;
  height: 2.25rem;
  background-repeat: no-repeat;
  background-size: cover
}*/

div.fstack{
    position: relative !important;
    bottom: 0;
}

footer {
  background: #eff1f5;
  box-shadow: 0 -1px 2px 0 #dfe3ec;
 /* min-height: 132px;*/
  text-align: center;
  padding: 32px;
}

footer .logo {
  margin: 0 auto 10px auto
}
h1, h2, h3, h4, h5, h6{
  color: #002855;
}

h2{
  font-size: 1.3rem;
}

.titleLink{
  color:#00C08B;
}

.hero {
  max-width: 500px;
  margin: 0 auto;

}

.hero p.lead {
  margin-bottom: 10rem;
  font-size: 1.45rem
}

.hero p.lead a {
  font-weight: 500
}

.hero .app-logo {
  max-width: 7.5rem
}

.next-steps {
  padding: 0 32px
}

.next-steps h2 {
  margin-bottom: 4rem
}

.next-steps .row {
  margin-bottom: 3rem
}

@media (max-width:768px) {
  .next-steps .row {
    margin-bottom: 0
  }
  .next-steps h6 {
    margin-top: 1.5rem
  }
}

pre {
  width: 100%
}

.profile-header {
  text-align: center;
  margin-bottom: 3rem
}

div.react-codemirror2{
    margin-top: 100px;
}

div.CodeMirror{
    height: auto;
}

.profile-header .lead {
  font-size: 1.25rem
}

.profile-header .profile-picture {
  box-shadow: 0 0 4px 0 #b3bac7;
  margin-bottom: 1.5rem
}

@media (min-width:768px) {
  .profile-header {
    text-align: left
  }
  .profile-header .profile-picture {
    margin-bottom: inherit
  }
}

.result-block-container {
  position: relative;
  min-height: 300px
}

.result-block {
  top: -10px;
  position: absolute;
  opacity: 0;
  transition: all .3s
}

.result-block.show {
  opacity: 1;
  top: 0
}

@media only screen and (min-width:768px) {
  .result-block {
    min-width: 700px
  }
}

html {
  font-size: 16px
}

body {
  color: #041433
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5 !important;
  color: #24292e;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600
}

h6.muted {
  color: #6c757d;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1.5rem;
  font-size: 1rem
}

a {
  color: #0066f9
}

.btn-primary {
  background-color: #00C08B;
  border: 0px solid #fff;
}

.btn-primary:hover {
   background-color: #00C08B;
   opacity: 0.8;
   border: 0px solid #fff;
}

.btn {
  border-radius: .1rem
}




.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.windows_card{
  background-color: #0067b8;
  color: #fff;
}

.card:hover {
    transform: none !important;
}

.card {
    background-color: #fff !important;
    padding: 0px 20px 30px 20px !important
}

.sys_box{
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}


.selected{
  border-color: #002856;
  border-width: 2px;
}

.sys_logo{
  max-width: 30%;
  margin:10px;

}

.border {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px #ccc solid;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.new-box{
  width: 700px;
  margin: 40px auto 0;
}

#qsLoginBtn{
    margin-right: -200px;
}

legend {
    margin-top: 120px;
}

div.card{
    margin-bottom: 100px;
}

span.nav-al{
    margin-left: 90px;
}

div.db-al{
    margin-left: 520px;
    padding-right: 250px;
    width: 70
}

ul.navbar-nav{
    margin-left: 30px;
}

span.qr-v{
    float: right;
    margin-top: 20px;
    font-size: 18px;
}

@media (min-width: 768px)
.navbar-expand-md .navbar-nav .nav-link {
     padding-right: 0 !important
}
